.input-block {
    margin-bottom: 20px;
}

.about-input {
    padding: 5px 10px;
    font-size: 18px;
    width: 50%;
    overflow: auto;
    text-overflow: ellipsis;
}

.input-title {
    font-size: 18px;
    font-weight: bold;
}